@page "/features"

<PageTitle>FixHub - zarządzaj serwisem wydajniej już dziś!</PageTitle>

<div class="main_top centered column">
    <span class="heading">Poznaj&nbsp;<b>FixHub</b></span>
    <span class="low_heading">i przekonaj się, jak wiele oferuje</span>
</div>
<div class="main_middle">
    <div class="feature_tile">
        <div class="feature_description left">
            <span class="feature_heading left">Łatwe zarządzanie bazą</span>
            <span class="feature_text">Wprowadzaj swoje naprawy szybciej, niż kiedykolwiek. Filtruj jednym kliknięciem. Przeglądaj historię każdego klienta. Seryjnie zmieniaj priorytety i statusy.</span>
        </div>
        <img class="feature_image" src="/features_01.png" />
    </div>
    <div class="feature_tile">
        <img class="feature_image" src="/features_02.png" />
        <div class="feature_description right">
            <span class="feature_heading right">Zintegrowane faktury i KSeF</span>
            <span class="feature_text">Wystawiaj faktury i wysyłaj je do KSeF w tej samej aplikacji. Powiązuj bezpośrednio z naprawami, które wykonujesz. Zapomnij o ręcznym księgowaniu płatności - FixHub zrobi to za Ciebie.</span>
        </div>
    </div>
    <div class="feature_tile">
        <div class="feature_description left">
            <span class="feature_heading left">Aplikacja mobilna</span>
            <span class="feature_text">Jesteś poza serwisem, albo prowadzisz naprawy bezpośrednio u klienta? Od teraz Twoja baza jeździ wszędzie tam, gdzie Ty. Skorzystaj z pełnoprawnej aplikacji mobilnej na iOS lub Android i wprowadzaj naprawy, diagnozy lub wystawiaj faktury z każdego miejsca.</span>
        </div>
        <img class="feature_image" src="/features_03.png" />
    </div>
</div>