@page "/"

<PageTitle>FixHub - zarządzaj serwisem wydajniej już dziś!</PageTitle>

<div class="main_top">
    <div class="main_left">
        <span class="heading">Jeden program do zarządzania <b>całym serwisem</b></span>
        <span class="paragraph">
            <b>FixHub</b> łączy w sobie zarządzanie naprawami, organizację pracy Twojego serwisu, automatyzacje i wsparcie AI, a także fakturowanie z KSeF i proste ofertowanie.
            Wszystko po to, aby rutynę robił za Ciebie, kiedy Ty skupisz się na rozwoju biznesu.
        </span>
        <span><button class="cta">Wypróbuj za darmo 🡒</button></span>
        <span class="resign">Bez zobowiązań. Rezygnujesz kiedy chcesz.</span>
    </div>
    <div class="main_right">
        <img class="main_image" src="/main-image.jpg" />
    </div>
</div>
<div class="main_middle">
    <span class="pros">Dlaczego właśnie FixHub?</span>
    <div class="pros_container">
        <div class="pros_tile">
            <span class="tile_big_text">Uniwersalny</span>
            <span>Działa niezależnie od tego, czy naprawiasz komputery, telefony czy auta</span>
            <span class="tile_img"><img src="/001-computer-settings.png" /></span>
        </div>
        <div class="pros_tile">
            <span class="tile_big_text">Szybki</span>
            <span>Jednym kliknięciem dodaj nowego klienta, urządzenie, opis problemu i inne szczegóły</span>
            <span class="tile_img"><img src="/002-cursor.png" /></span>
        </div>
        <div class="pros_tile">
            <span class="tile_big_text">Automatyczny</span>
            <span>Klient wie, co się dzieje z jego zleceniem - FixHub sam go o tym informuje</span>
            <span class="tile_img"><img src="/003-execution.png" /></span>
        </div>
        <div class="pros_tile">
            <span class="tile_big_text">Elastyczny</span>
            <span>Dowolnie wybieraj pakiety licencyjne, które pasują do Twojej firmy i pracowników</span>
            <span class="tile_img"><img src="/004-cards-with-dollar-sign.png" /></span>
        </div>
    </div>
</div>
<div class="main_bottom">
    <span class="cta2_title">Nie zwlekaj. Przenieś Twój serwis na wyższy poziom.</span>
    <span class="cta2_subtitle">Już w 30 minut uporządkuj swój proces, od przyjęcia naprawy do wydania sprzętu. Gdy zaczniesz, już nigdy nie będziesz chciał wrócić do Excela. Załóż darmowe konto i przekonaj się sam!</span>
    <button class="cta">Załóż darmowe konto</button>
</div>