@page "/404"

<PageTitle>Nie znaleziono strony</PageTitle>

<div class="main_top centered column">
    <span class="heading">404 - Nie znaleziono strony</span>
    <span class="low_heading">Strona, której szukasz, nie istnieje.</span>
</div>