@page "/pricing"

<PageTitle>FixHub - zarządzaj serwisem wydajniej już dziś!</PageTitle>

<div class="main_top centered column">
    <span class="heading">Wybierz najlepszy plan dla&nbsp; <b>Twojego serwisu</b></span>
</div>
<div class="main_middle row">
    <div class="pricing_tile">
        <span class="lower_heading"><b>Standard</b></span>
        <span class="price">49 zł</span>
        <span class="price_annotation">netto miesięcznie</span>
        <span class="plan_annotation">Plan zawiera:</span>
        <div class="plan_element_list">
            <span class="plan_element">✓ Limit do 3 użytkowników</span>
            <span class="plan_element">✓ Baza klientów i napraw</span>
            <span class="plan_element">✓ Faktury z KSeF, paragony, rachunki</span>
            <span class="plan_element">✓ Proste ofertowanie</span>
            <span class="plan_element">✓ Integracja z pocztą e-mail</span>
            <span class="plan_element">✓ Aplikacja mobilna iOS/Android</span>
            <span class="plan_element">✓ Dwuetapowa weryfikacja dostępu (2FA)</span>
            <span class="plan_element">✓ 5 GB darmowej przestrzeni na dane</span>
            <span class="plan_element">✓ Bezpłatne wsparcie techniczne (e-mail, livechat)</span>
        </div>
    </div>
    <div class="pricing_tile">
        <span class="lower_heading"><b>Professional</b></span>
        <span class="price">119 zł</span>
        <span class="price_annotation">netto miesięcznie</span>
        <span class="plan_annotation">Plan zawiera wszystko to, co Standard oraz:</span>
        <div class="plan_element_list">
            <span class="plan_element">✓ Limit do 10 użytkowników</span>
            <span class="plan_element">✓ Magazyn części zamiennych</span>
            <span class="plan_element">✓ Zaawansowane ofertowanie, kosztorysowanie</span>
            <span class="plan_element">✓ Rozbudowane raporty i statystyki</span>
            <span class="plan_element">✓ Edytowalne szablony dokumentów</span>
            <span class="plan_element">✓ Automatyzacje (natychmiastowe i okresowe)</span>
            <span class="plan_element">✓ Integracja z bramką SMS i telefonią VoIP</span>
            <span class="plan_element">✓ 50 GB darmowej przestrzeni na dane</span>
            <span class="plan_element">✓ Bezpłatne wsparcie techniczne (e-mail, livechat, telefon)</span>
        </div>
    </div>
    <div class="pricing_tile">
        <span class="lower_heading"><b>Enterprise</b></span>
        <span class="low_price">Skontaktuj się</span>
        <span class="price_annotation">aby otrzymać wycenę</span>
        <span class="plan_annotation">Plan zawiera wszystko to, co Professional oraz:</span>
        <div class="plan_element_list">
            <span class="plan_element">✓ Brak limitu użytkowników</span>
            <span class="plan_element">✓ Business Intelligence ze wsparciem AI</span>
            <span class="plan_element">✓ Rozbudowana analityka</span>
            <span class="plan_element">✓ Moduł automatyzacji marketingu</span>
            <span class="plan_element">✓ Integracje e-commerce</span>
            <span class="plan_element">✓ Integracje z firmami kurierskimi</span>
            <span class="plan_element">✓ Dedykowany opiekun konta</span>
            <span class="plan_element">✓ Nielimitowana przestrzeń na dane</span>
            <span class="plan_element">✓ Programowanie dodatkowych funkcjonalności na zamówienie</span>
        </div>
    </div>
</div>